*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}
html {
    font-size: 62.5%;
}
.signup h2{
    text-align: center;
    font-size: 30px;
    padding: 1rem;
}
.signup form{
    position: relative;
    background-color:rgb(221, 136, 39);
    float: middle;
    width: 500px;
    margin: auto;
    padding: 20px;
    margin-top: 35px;
    height: 450px; 
    margin-bottom: 30px;
    border-radius: 30px;
}
.name, .password, .confirm_password {
    position:absolute;
    width:450px;
    height:60px;
    left:20px;
    font-size:20px;
    padding-left:15px;
    border-radius:30px;
}
.name {
    top:50px;
}
.password {
    top:150px;
}
.confirm_password { 
    top: 250px;
}
.submit {
    position:absolute;
    width:450px;
    height:60px;
    left:20px;
    top:350px; 
    font-size:20px;
    background-color:rgb(235,87,87);
    color:white;
    border-radius:30px;
    font-weight:bold;
}
